* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: whitesmoke !important;
}

body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
       sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     background-color: #8EBEFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color: whitesmoke;
     opacity: 1; /* Firefox */
   }
   
   :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: whitesmoke;
   }
   
   ::-ms-input-placeholder { /* Microsoft Edge */
     color: whitesmoke;
   }