#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto !important;
  height: auto !important;
  z-index: -1;
  display: flex;
  object-fit: cover !important;
}